<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
	.reveal h1 { font-size: 2em; }
	.reveal h2 {font-size: 1.25em;}
	.reveal h3 {font-size: 1em;}
	body {
  background-image: url(figures/ui_logo.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: 20px 950px;
  background-size: 250px;
}
</style>
